/** RESET **/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary,main {display: block;}
img {border:0; display:block; outline:0;max-width:100%;}
a {text-decoration:none;color:#fff !important;cursor:pointer }
#leftSlider a {
  color: #454545 !important;
  font-weight: normal;
  font-size:13px;
}
ul, ol {list-style:none;}
body {padding:0;margin:0;background:#4161b6;font-size:100%; line-height:110%;color: #454545; font-family:'pt_sansregular',"Trebuchet MS", Helvetica, sans-serif;  }
h2{color:#fff;}

#wrapper{
 /*width:100%;*/
 width: 100%;
 max-width:480px;
 float:left;
}
#container{
width:100%;
margin:auto;
overflow:hidden;
position:relative;	
}
.container div{
-webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;	
}
.logo{
	float:left;
	margin:10px 5px 30px 50px;
}
#landing,#events,#news {
  clear: left;
  float: left;
  width: 100%;
}
#landing ul{
	padding:0;
	margin:0;
}
#landing ul li {
  background: none repeat scroll 0 0 #597BD7;
  float: left;
  height: 68px;
  margin-bottom: 50px;
  overflow: visible;
  width: 100%;

}
#events,#news{
	display:block;
	margin-left:-480px;
	opacity:0.4;
}
#landing{margin-left:480px;}
#landing img {
  margin-top: -5px;
}
#landing .eventsLink > img {
  margin-top: -20px;
}

.menuIcon {
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
}
.menuIcon i {
  background: none repeat scroll 0 0 #A5A5A5;
  clear: left;
  float: left;
  height: 6px;
  margin-bottom: 3px;
  width: 50px;
}
.menucont {
  left: 7px;
  margin-top: 5px;
  position: absolute;
  z-index: 10;
}
.menu {
  background: none repeat scroll 0 0 #E7E7E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  clear: right;
  display: none;
  float: right;
  margin: 0;
  padding: 10px 2px 0;
  position: relative;
  top: -11px;
  width: 200px;
  z-index:10;
}

.menu a {
  float: left;
  padding: 10px 8px;
  width: 100%;
   color: #666666;
}
.menu li {
  border-bottom: 1px solid #FFFFFF;
  clear: left;
  float: left;
  width: 100%;
}
.menu li:last-child {
  border-bottom: medium none;
}
#landing span {
  bottom: 21px;
  font-weight: bold;
  left: 139px;
  position: absolute;
  width: 60px;
}
#landing .eventsLink span {
  bottom: 40px;
}
#landing a{
	float:left;
	width:100%;
	position:relative;
}
.title {
  background: none repeat scroll 0 0 #597BD7;
  float: left;
  margin-bottom: 22px;
  width: 100%;
}
.title > img {
  float: left;
  margin-bottom: -10px;
  margin-top: -12px;
}
#mainsub{margin-right:-200px;}